@font-face {
    font-family: "dodamdodam";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/dodamdodam/dodamdodam.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/dodamdodam/dodamdodam.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/dodamdodam/dodamdodam.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/dodamdodam/dodamdodam.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/dodamdodam/dodamdodam.ttf") format("truetype");
    font-display: swap;
} 
.dodamdodam {
    font-family: "dodamdodam";
}